# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
go.sum
vendor/

# Generated
generated
*.swagger.json
swagger

# Environment
local.env
